<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero"
  >
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero">
<h1>{{ selectedHero.name | uppercase }} Details</h1>

<div>
  <h2>
    <span>Id: </span>{{ selectedHero.id }}
  </h2>
</div>

<div>
  <label for="name">Name :
    <input type="text" [(ngModel)]="selectedHero.name" placeholder="name">
  </label>
</div>
</div>
